/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

/* Fonts */

@font-face {
  font-family: 'ArvoRegular';
  src: url('fonts/ArvoRegular.eot');
  src: url('fonts/ArvoRegular.eot') format('embedded-opentype'),
       url('fonts/ArvoRegular.woff2') format('woff2'),
       url('fonts/ArvoRegular.woff') format('woff'),
       url('fonts/ArvoRegular.ttf') format('truetype'),
       url('fonts/ArvoRegular.svg#ArvoRegular') format('svg');
}

@font-face {
  font-family: 'UrbanistRegular';
  src: url('fonts/UrbanistRegular.eot');
  src: url('fonts/UrbanistRegular.eot') format('embedded-opentype'),
       url('fonts/UrbanistRegular.woff2') format('woff2'),
       url('fonts/UrbanistRegular.woff') format('woff'),
       url('fonts/UrbanistRegular.ttf') format('truetype'),
       url('fonts/UrbanistRegular.svg#UrbanistRegular') format('svg');
}

/* Text */

html {
  font-family: ArvoRegular;
  font-size: 10px;
}

h1, h2 {
  font-family: UrbanistRegular;
  letter-spacing: 2px;
}

h1 {
  text-align: center;
  font-size: 4.5rem;
}

h2 {
  font-size: 2.5rem;
}

p, li {
  letter-spacing: 1px;
  word-spacing: 1px;
  font-size: 1.2rem;
  line-height: 1.2;
}

section h2 + p {
  text-indent: 20px;
}

/* Navigation Bar */

nav li {
  margin-bottom: 2rem;
}

nav ul, ol {
  margin-top: 0.8rem;
  padding-left: 0rem;
  list-style-type: none;
}

nav li a {
  display: inline-block;
  width: 25rem;
  line-height: 2.2;
  text-align: center;
  font-size: 2.5rem;
  border: 3px solid #a66;
  color: #a66;
}

nav li a:focus, nav li a:hover {
  color: white;
  background: #a66;
}

nav li a:active {
  color: white;
  background: rgb(101, 62, 62);
}

/* Links */

a {
  outline: none;
  color: #a66;
}

a:active {
 color: rgb(101, 62, 62); 
}

a:hover, a:hover {
  text-decoration: none;
}

a:visited {
  color: rgb(80, 53, 53); 
}

a[href*="http"] {
  background: url(assets/external-link-52.png) 100% no-repeat;
  background-size: 8px 8px;
  padding-right: 11px;
}